@import "~bootstrap/scss/bootstrap";

:root {
    --ajd-blue: #0069b4;
    --ajd-lightblue: #b3d9ff;
}

body {
    font-family: 'Inter', Arial, sans-serif;
}

a, .nav-link {
    color: var(--ajd-blue);
    transition: 0.2s;
}

a.button {
    text-decoration: none;
    border: 5px solid var(--ajd-blue);
    color: #000;
}
a.button:hover {
    background-color: var(--ajd-blue);
    color: #fff;
}

.ajd-nav-header {
    background-color: var(--ajd-blue);
}
.ajd-nav-header svg {
    width: 160px;
    height: auto;
}
.ajd-nav-header .nav-link {
    color: #fff;
    font-weight: 700;
}
.ajd-nav-header .nav-link:hover {
    color: var(--ajd-lightblue);
}

.welcome {
    white-space: pre-wrap;
    background-color: var(--ajd-blue);
    color: #fff;
}
.welcome a {
    color: #fff;
    text-decoration: none;
}
.welcome h1 {
    text-align: center;
}

.ctabtns {
    display: flex;
    justify-content: center;
}
.ctabtns a {
    border: 5px solid #fff;
}
.ctabtns a:first-child {
    background-color: #fff;
    color: #000;
    margin-right: 1rem;
}
.ctabtns a:first-child:hover {
    background-color: var(--ajd-lightblue);
    border: 5px solid var(--ajd-lightblue);
}
.ctabtns a:last-child:hover {
    background-color: #fff;
    color: #000;
}
.ctabtns a:first-child:hover, .ctabtns a:last-child:hover, .work img {
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.4);
}

.work img {
    width: 100%;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
}
